@page "/addcomic"
@using MyWeirdStuff.Web.Infrastructure
@rendermode InteractiveServer

@inject ApiServiceClient _apiServiceClient

<PageTitle>Add Comic</PageTitle>

<h1>Add comic</h1>

<label>
    Add comic
    <input placeholder="Url for comic to add" @bind="urlToAdd" disabled="@isDisabled" />
</label>

<button @onclick="Save" disabled="@isDisabled">Save</button>

<br>
<label>Status: @status</label>

<br>
<label id="savedUrlLabel">Saved url</label>
<span aria-labelledby="savedUrlLabel" >@savedUrl</span>

@code {
    private string? urlToAdd;
    private string? status = "ready";
    private bool isDisabled = true;
    private string? savedUrl;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.CompletedTask;
        if (firstRender)
        {
            isDisabled = false;
            StateHasChanged();
        }
    }

    private async Task Save()
    {
        isDisabled = true;
        try
        {
            if (string.IsNullOrWhiteSpace(urlToAdd))
            {
                status = "null or whitespace";
            }
            else
            {
                status = $"Add: {urlToAdd}";
                try
                {
                    var saved = await _apiServiceClient.AddComic(urlToAdd);
                    savedUrl = saved?.Url ?? "..missing..";
                    status = "Saved";
                }
                catch (Exception ex)
                {
                    status = $"Error: {ex.Message}";
                }
            }
        }
        finally
        {
            isDisabled = false;
        }
    }
}
